body
{
width: 900px;
margin: auto;
}

.center_title{
    text-align: center;
}

.scrtable {  
    height: 500px;
    overflow-y: auto;
}

.shortTable {  
    height: 190px;
    overflow-y: auto;
}

.veryShortTable {  
    height: 150px;
    overflow-y: auto;
}

.strangePanel {  
    height: 30px;
}

.editSpaces {
    margin-left: 10px;
    margin-right: 10px;
}

